/* SEÇÃO PRINCIPAL */
.area {
    padding: 40px 20px;
    background: #111;

    display: flex;
    justify-content: center;
}

/* GRID DE PRODUTOS */
.area-grid {
    width: 100%;
    max-width: 1200px;

    background: linear-gradient(135deg, #c19043, #b1a189);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 15px;
}