/* CONTAINER */
.lista-suspensa {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: 'Bangers', cursive;
}

/* LABEL */
.lista-suspensa label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #FFD23F;
    text-shadow: 2px 2px 0 #000;
    letter-spacing: 1px;
}

/* SELECT */
.lista-suspensa select {
    appearance: none; /* remove estilo padrão */
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 12px;
    font-size: 1rem;

    border: 4px solid #000;
    outline: none;

    color: #000;

    box-shadow: 4px 4px 0 #000;

    cursor: pointer;
    transition: all 0.15s ease;
}

/* HOVER */
.lista-suspensa select:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 #000;
}

/* FOCUS */
.lista-suspensa select:focus {
    background: linear-gradient(135deg, #FFF3B0, #FFD23F);
}

/* CLICK */
.lista-suspensa select:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 #000;
}

/* OPÇÕES */
.lista-suspensa option {
    font-family: Arial, sans-serif; /* evita bug visual */
}
